/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Rofi Beats Config (compact) */

@import "~/.config/rofi/master-config.rasi"  

/* ---- Entry ---- */ 
entry {
  width: 20%;
  placeholder: "📻 Choose Music Source";
}

/* ---- Window ---- */
window {
  width: 30%;
}

/* ---- Listview ---- */
listview {
  fixed-columns: true;
  colums: 1;
  lines: 3;
  font: "Fira Code SemiBold 12";
}

element-text {
  font: "Fira Code SemiBold 12";
  vertical-align: 0.5;
  horizontal-align: 0.5;
}
